*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

li{
    display: inline;
    cursor: pointer;
}
li:hover{
    color: white;
}
ul{
    margin-top: 10px;
    color: grey;
    
}
.box{
    display: inline-block;
    width: 220px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.box:hover{
    background-color: black;
    color: white;
}

.product{
    text-align: center;
    margin-top: 30px;
}

.button{
    background-color: rgb(16, 165, 151);
    color: white;
    width: 80px;
    padding: 10px;
    display: inline-block;
}

.contact{
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}
.form{
    display: inline-block;
    text-align: center;
}


.send{
    background-color: rgb(72, 72, 177);
    padding: 5px;
    width: 400px;
    text-align: center;
    display: inline-block;
}